.resource {
    min-height: 100px;
    background-color: #e6e6e6;
    border: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    width: 600px;
    padding: 15px;
    justify-content: space-between;
}

.right {
  display: flex;
  flex-direction: column;
  // width: 
}

.titleAndTopic {
  display: flex;
  flex-direction: column;
  // min-width: 800px;
}

.title {
    position: relative;
    color: #555555;
    font-size: 35px;
    width: 370px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topic {
  font-size: 18px;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content {
  font-size: 18px;
  width: 360px;
  text-align: justify;
}

.durationAndQuality {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.duration {
  padding: 5px;
}

.quality {
  padding: 5px;
  margin-left: 10px;
}

.icon {
  width: 10px;
  margin: 0 0 3.5px 0;
}

.top {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.title-dep {
  font-size: 15px;
  font-weight: bold !important;
  margin-top: 5px;
}

.dependencies {
  font-size: 15px;
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0 auto;
}

.button {
  width: 80px;
  height: 90%;
  margin: 20px;
  background-color: #f9f9f9;
  font-size: 30px;
  color: #666666;
  text-shadow: 1px 1px #666666;
  border: 0;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 10px;
  font-size: 13px;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: #ffffff;

  width: 100 px;
}

.btn-review {
  background-color: #da3333;
}

.btn-open {
  background-color: #58d323;
}

.form-textbox-dep-topic {
  width: 30% !important;
  margin-right: 25px;
}

.form-textbox-dep-weight {
  width: 10% !important;  
  margin-right: 25px;
}

.profile {
  display: flex;
  flex-direction: column
}

.searchWrapper {
  height: 100px;
}

.about {
  width: 700px;
  margin: 50px auto;
  padding: 50px 0;
}

.btn-challenge {
  background-color: #f99215;
}