
a:hover {
  color: #333;
  text-decoration: none;
}
a {
  color: #333;
}


.resourceTitle {
  font-weight: bold
}

#main-title {
  font-weight: bold;
  line-height: 30px;
  margin-top: 15px;
  font-size: 30px;
  color: rgb(152, 152, 152);
}

header a:hover {
  text-decoration: none;
}

#Search {
}

#SearchView {
}

label {
  margin-bottom: 0px !important;
}

.search_wrapper {
  /* background-color: #FFF; */
  box-sizing: border-box;
  /*height: 300px;*/
  top: 350px;
  left: 50%;
  margin: -150px 0 0 -150px;
  position: absolute;
  width: 300px;
}

.input {
  text-align: center;
  background-color: transparent;
  border: none;
  color: #555;
  border-bottom: 1px solid #CCC;
  box-sizing: border-box;
  font-size: 26px;
  height: 50px;
  left: 25%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  width: 350px;

}

.input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: -27px;
  margin-top: -2px;
  position: absolute;
  top: 35px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 352px;
}
