#Search {
}

#SearchBox {
}

.search_wrapper {
  /* background-color: #FFF; */
  box-sizing: border-box;
  height: 300px;
  left: 50%;
  margin: -150px 0 0 -150px;
  position: absolute;
  /*top: 50%;*/
  width: 300px;
}

.input {
  background-color: transparent;
  border: none;
  color: #555;
  /*  border-bottom: 1px solid #CCC;*/
  box-sizing: border-box;
  font-size: 26px;
  height: 50px;
  left: 25%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 350px;
}

.input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: -27px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 352px;
}
